.main_chat
  .main_chat_head
    .groupName
      .main_chat_head__groupname
        = @group.name
      %ul.memberList
        - @group.users.each do |user|
          %li.member
            = user.name
    = link_to edit_group_path(@group),class: "RightHeader__editButton" do
      Edit
  .main_chat_messages
    = render @messages
  .main_chat_form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__contents
        = f.text_field :content, class: 'Form__inputContent', placeholder: 'type a message'
        = f.label :image, class: 'Form__inputImage' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'Form__submit'