.side_bar
  .side_bar__header
    .side_bar__header__user
      .side_bar__header__user__name
        tomo
      .side_bar__header__user__icon
        .icon1
          = link_to "#" do
            = icon('far', 'edit')
        .icon2
          = link_to "#" do
            = icon('fas', 'cog')
  .side_bar__groups
    .group
      = link_to '#' do
        .side_bar__groups__member
          techcamp
        .side_bar__groups__message
          まだメッセージがありません